---
import { Image } from "astro:assets";
import logos1 from "../images/marks/logos-01.png";
import logos2 from "../images/marks/logos-02.png";
import logos3 from "../images/marks/logos-03.png";
import logos4 from "../images/marks/logos-04.png";
import logos5 from "../images/marks/logos-05.png";
import logos6 from "../images/marks/logos-06.png";
---
<section class="flex justify-center content-center px-2">
    <ul class="grid lg:grid-cols-6 grid-cols-3  md:gap-x-24 lg:gap-x-20 gap-y-10 gap-x-10 py-10">
        <li><Image class="w-24" src={logos2} alt="Audi Logo"/></li>
        <li><Image class="w-24" src={logos1} alt="Bosch Logo"/></li>
        <li><Image class="w-24" src={logos3} alt="CAT Logo"/></li>
        <li><Image class="w-24" src={logos4} alt="volkswagen Logo"/></li>
        <li><Image class="w-24" src={logos5} alt="BMW Logo"/></li>
        <li><Image class="w-24" src={logos6} alt="Suzuki Logo"/></li>
    </ul>
</section>